<!DOCTYPE html>
<html>
<head>
	<title>Dipinto sul pancione amministrazione</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Home</a></li>
							<li role="presentation"><a href="/administration/photos">Gestione foto</a></li>
							<li role="presentation"><a href="/administration/news">Gestione news</a></li>
							<li role="presentation"><a href="/users/logout">Uscita</a></li>

            {{else}}

						<li role="presentation"><a href="/users/register">Registra nuovo utente</a></li>
              <li role="presentation"><a href="/users/login">Login</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">www.dipintosulpancione.it</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>


      </div>

      <footer class="footer">
        <p>&copy; 2017 A.Zoitanu, all rights reserved</p>
      </footer>

    </div> <!-- /container -->

		<!-- Bootstrap core JavaScript
		    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
